    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({ 
        el: '#app',
        data(){
            return {
            show_pass: false,
            navbar: false,
            headers_dash: [
                {text: 'No DB', value: 'indb'},
                {text: 'Registrados', value: 'regi'},
                {text: 'Esperando Formação', value: 'wait'},
                {text: 'Formando', value: 'form'},
                {text: 'Em Estágio', value: 'inte'},
                {text: 'Colocado', value: 'hire'},
                {text: 'Em Reserva', value: 'rese'},
                {text: 'Avaliados', value: 'eval'},
                {text: 'Desistiu', value: 'gave'}
            ],
            stats: [
                {
                    value: false,
                    indb: '{{peopleInDB}}',
                    regi: '{{peopleRegistered}}',
                    wait: '{{peopleWaiting}}',
                    form: '{{peopleFormating}}',
                    inte: '{{peopleInInternship}}',
                    hire: '{{peopleHired}}',
                    rese: '{{peopleReserved}}',
                    eval: '{{peopleEvaluated}}',
                    gave: '{{peopleGaveUp}}'
                }
            ]
        }},
        methods: {
            submit(){
                document.forms[0].submit();
            },
            load(data){
                location.pathname = data;
            }
        }
    })
</script>