{{> head}}
<body>
    {{> header }}
    {{> navbar }}
    {{# if evaluations }}
    <div class='card card-avaliado'>
        <table class='tbl'>
            <thead>
                <tr>
                    <th>Loja</th>
                    <th>De</th>
                    <th>Até</th>
                    <th>Orientador</th>
                    <th colspan="2">Nota</th>
                    {{#if admin}}
                    <th>Ações</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{# each evaluations }}
                <tr>
                    <td><a href='/avaliar_edit/{{ this.id }}'>{{ this.shop }}</a></td>
                    <td><a href='/avaliar_edit/{{ this.id }}'>{{ this.date_from }}</a></td>
                    <td><a href='/avaliar_edit/{{ this.id }}'>{{ this.date_to }}</a></td>
                    <td><a href='/avaliar_edit/{{ this.id }}'>{{ this.advisor }}</a></td>
                    <td><a href='/avaliar_edit/{{ this.id }}'>{{ this.score }}</a></td>
                    <td><a href='/avaliar_edit/{{ this.id }}'>{{ this.scoreText }}</a></td>
                    {{#if @root.admin}}
                    <td>
                        <i class='fas fa-trash modal-trigger' data-target='delModal' user-id='{{ this.id }}' path='/delete_evaluation/'></i>
                    </td>
                    {{/if}}
                </tr>
                {{/ each }}
                {{# each discount }}
                <tr>
                    <td><b>Desconto</b></td>
                    <td colspan='3'>{{ this.reason }}</td>
                    <td colspan='2'>{{ this.quantity }}</td>
                    {{#if @root.admin}}
                    <td><i class='fas fa-trash modal-trigger' data-target='delModal' user-id='{{ this.id }}' path='/delete_discount/'></i></td>
                    {{/if}}
                </tr>
                {{/ each }}
                {{# each increase }}
                <tr>
                    <td><b>Aumento</b></td>
                    <td colspan='3'>{{ this.reason }}</td>
                    <td colspan='2'>{{ this.quantity }}</td>
                    {{#if @root.admin}}
                    <td><i class='fas fa-trash modal-trigger' data-target='delModal' user-id='{{ this.id }}' path='/delete_increase/'></i></td>
                    {{/if}}
                </tr>
                {{/ each }}
                <tr>
                    <td colspan="4"><b>Total</b></td>
                    <td><b>{{ evaluations.media }}</b></td>
                    <td><b>{{ evaluations.mediaText }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    {{ else }}
    <p class='rep'>... Nenhuma Avaliação encontrada ...</p>
    {{/ if }}

    <i onclick='loadPage("/avaliar/{{ person.id }}")' class='fas fa-plus-circle add-btn'></i>
    <i onclick='loadPage("/discount_person/{{ person.id }}")' class='fas fa-thumbs-down discount'></i>
    <i onclick='loadPage("/increase_person/{{ person.id }}")' class='fas fa-thumbs-up increase'></i>
    {{> delete_modal }}
    {{>footer}}
</body>
</html>