{{> head }}

<body>
    {{> header }}
    {{# if formation}}
    <form class='formation-form' action="/choose_formation/{{personId}}" method='post'>
        {{#each formation}}
        <fieldset>
            <label><b>Nome:</b></label>
            <span>{{this.name}}</span><br>
            
            <label><b>Preço de Inscrição:</b></label>
            <span>{{this.subscription_cost}}$00</span><br>

            <label><b>Preço do Certificado:</b></label>
            <span>{{this.certificate_cost}}$00</span><br>

            <label><b>Escolher:</b></label>
            <input data-insc={{this.subscription_cost}} data-cert={{this.certificate_cost}} oninput='calculateTotal()' type="checkbox" name='{{this.id}}'>
        </fieldset>
        {{/each}}
        <fieldset>
            <input type='checkbox' name='hasDiscount' id='hasDiscount' oninput='calculateTotal()'>
            <label for='discount'><b>Desconto:</b></label>
            <input type='number' name='discount' value='16' id='discount' oninput='calculateTotal()' style='text-align: right'>%<br>
            <label><b>Total a Pagar:</b></label>
            <input name='total' id='total' value='0' disabled style='text-align: right'>
        </fieldset>

        <input type="submit" value='Increver'>
    </form>
    {{else}}
    <p class='rep'>Já se registrou em todas as formações...</p>
    {{/if}}

    <img class='add-btn' onclick='loadPage("/logout")' src='/img/sign-out-alt-solid.svg' alt='Logout'>
    {{> delete_modal }}
    {{> footer }}
</body>

</html>