{{> head }}
    <body>
        {{> header }}
        {{# error }}
        <p class='error'>{{ param }}:{{ msg }}</p>
        {{/ error }}
        <form action="/create_user" method='post'>
            <label>Nome de Utilizador:</label>
            <input name='username' placeholder='Nome de Utilizador' {{#if form_data }}value={{form_data.username}}{{/if}}><br>
            <label>Grupo:</label>
            <select name="group" required>
                <option value="regular">Regular</option>
                <option value="admin">Administrador</option>
            </select>
            <label>Senha:</label>
            <input type='password' name='password' placeholder='Senha' {{#if form_data }}value={{form_data.password}}{{/if}}><br>
            <label>Confirmar Senha:</label>
            <input type='password' name='confirm_password' placeholder='Confirmar Senha' {{#if form_data }}value={{form_data.confirm_password}}{{/if}}><br>
            <input type='submit' value='Criar'>
        </form>
        
        <img class='add-btn' onclick='loadPage("/logout")' src='/img/sign-out-alt-solid.svg' alt='Logout'>
        {{> footer }}
    </body>
</html>
