{{> head }}
    <body>
        {{> header }}
        {{> navbar }}

        {{# error }}
        <p class='card red card-error'>{{ param }}:{{ msg }}</p>
        {{/ error }}
        
        <div class='card card-create-user'>
            <form action="/create_user" method='post'>
                <div class='card-context'>
                    <div class='input-field'>
                        <label>Nome de Utilizador:</label>
                        <input type='text' name='username' {{#if form_data }}value={{form_data.username}}{{/if}}>
                    </div>
                    <div class='input-field'>
                        <select class='group' name="group" required>
                            <option value="regular">Regular</option>
                            <option value="admin">Administrador</option>
                            <option value="avaliador">Avaliador</option>
                        </select>
                        <label for='group'>Grupo:</label>
                    </div>
                    <div class='input-field'>
                        <label>Senha:</label>
                        <input type='password' name='password' {{#if form_data }}value={{form_data.password}}{{/if}}>
                    </div>
                    <div class='input-field'>
                        <label>Confirmar Senha:</label>
                        <input type='password' name='confirm_password' {{#if form_data }}value={{form_data.confirm_password}}{{/if}}>
                    </div>
                </div>
                <div class='card-action'>
                    <input class='btn blue' type='submit' value='Criar'>
                    <a href="/admin" class='btn blue'>Voltar</a>
                </div>
            </form>
        </div>
        {{>footer}}
    </body>
</html>
