{{> head }}
    <body>
        {{> header }}
        {{> navbar }}

         <v-data-table
            :headers="headers_dash"
            :items='stats'
            hide-actions
            class='elevation-1'>
            <template slot='items' slot-scope='props'>
                <td v-on:click='load("/pessoas/indb")'>\{{props.item.indb}}</td>
                <td v-on:click='load("/pessoas/regi")'>\{{props.item.regi}}</td>
                <td v-on:click='load("/pessoas/wait")'>\{{props.item.wait}}</td>
                <td v-on:click='load("/pessoas/form")'>\{{props.item.form}}</td>
                <td v-on:click='load("/pessoas/inte")'>\{{props.item.inte}}</td>
                <td v-on:click='load("/pessoas/hire")'>\{{props.item.hire}}</td>
                <td v-on:click='load("/pessoas/rese")'>\{{props.item.rese}}</td>
                <td v-on:click='load("/pessoas/eval")'>\{{props.item.eval}}</td>
                <td v-on:click='load("/pessoas/gave")'>\{{props.item.gave}}</td>
            </template>
        </v-data-table>

        {{!-- chart --}}
        <div class='chart'>
            <canvas id='cnv' width='0px' height='-100px'></canvas>
        </div>
        
        <img class='add-btn' onclick='loadPage("/logout")' src='/img/sign-out-alt-solid.svg' alt='Logout'>

        {{> footer }}
        <script>
            var ctx = document.getElementById("cnv").getContext('2d');
            
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Registrados', 'Esperando Formação', 'Formando', 'Em Estágio', 'Colocado', 'Em Reserva', 'Desistiu'],
                    datasets: [{
                        data: [
                            {{ peopleRegistered }},
                            {{ peopleWaiting }},
                            {{ peopleFormating }},
                            {{ peopleInInternship }},
                            {{ peopleHired }}, 
                            {{ peopleReserved }},
                            {{ peopleGaveUp }},
                        ],
                        backgroundColor: [
                            '#193441',
                            '#D9D7CC',
                            '#8C8777',
                            '#595047',
                            '#3E606F',
                            '#D1DBBD',
                            '#91AA9D',
                        ],
                        borderWidth: 1
                    }]
                }
            });
            </script>
    </body>
</html>
