{{> head }}
    <body>
        {{> header }}
        {{> navbar }}
        {{#error}}
        <p class='error'>{{param}}: {{msg}}</p>
        {{/error}}
        <div class='card card-edit'>
            <form class='edit' method='post' action='/edit/{{ person.dataValues.id }}'>
                <div class='card-content'>
                    <div class='input-field'>
                        <label for='name'>Nome:</label>
                        <input type='text' name='name' required value='{{ person.dataValues.name }}'>
                    </div>
                    <div class='input-field'>
                        <label for='birthdate'>Data de Nascimento:</label>
                        <input name='birthdate' type='text' class='datepicker' requited value='{{ birthdate }}'>
                    </div>
                    <div>
                        <label for='address'>Morada:</label>
                        <input type='text' name='address' value='{{ person.dataValues.address }}'>
                    </div>
                    <div class='input-field'>
                        <label for='phone'>Telefone:</label>
                        <input type='text' name='phone' required value='{{ person.dataValues.phone }}'>
                    </div>
                    <div class='input-field'>
                        <label for='email'>Email:</label>
                        <input type='text' name='email' value='{{ person.dataValues.email }}'>
                    </div>
                    <div class='input-field'>
                        <label for='bi'>BI:</label>
                        <input type='text' name='bi' required value='{{ person.dataValues.bi }}'>
                    </div>
                    <div class='input-field'>
                        <label for='nif'>NIF:</label>
                        <input type='text' name='nif' required value='{{ person.dataValues.nif }}'>
                    </div>
                    <div class='input-field'>
                        {{# select 'gender' person.dataValues.gender '{"male":"Masculino", "female":"Feminino"}'}}
                        {{/ select }}
                        <label for='gender'>Género:</label>
                    </div>
                    <div class='input-field'>
                        {{# select 'state' person.dataValues.state '{"registered":"Registrado", "waiting_formation":"Esperando Formação", "formation":"Em Formação", "internship":"Em Estágio", "hired":"Colocado", "reserved":"Em Reserva", "gave_up":"Desistiu"}' }}
                        {{/ select }}
                        <label>Estádo:</label>
                    </div>

                    <h6>Formações em que se encontra inscrito:</h6>
                    {{#if formation}}
                        {{#each formation}}
                        <div>
                            <label for="{{this.id}}">
                                <input type='checkbox' name='{{this.id}}' id='{{this.id}}' checked>
                                <span>{{this.name}}</span>
                            </label>
                        </div>
                        {{/each}}
                    {{else}}
                    <p>Não se encontra inscrito em nenhuma formação...</p>
                    {{/if}}
                </div>
                <div class='card-action'>
                    <input class='btn blue' type='submit' value='Ok'>
                    <a class='btn blue' href='/details/{{ person.dataValues.id }}'>Cancelar</a>
                </div>
            </form>
        </div>
        

        {{>footer}}
    </body>
</html>
