{{> head }}
    <body>
        {{> header }}
        {{> navbar }}

        {{# if person }}
        {{!-- <table id='myTable' class='display tbl'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Estado</th>
                    {{#if admin }}
                    <th>Ações</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{# each person }}
                <tr>
                    <td><a href='/details/{{ this.dataValues.id }}'>{{ this.dataValues.id }}</a></td>
                    <td><a href='/details/{{ this.dataValues.id }}'>{{ this.dataValues.name }}</a></td>
                    <td><a href='/details/{{ this.dataValues.id }}'>{{ this.dataValues.address }}</a></td>
                    <td><a href='/details/{{ this.dataValues.id }}'>{{ this.dataValues.phone }}</a></td>
                    <td><a href='/details/{{ this.dataValues.id }}'>{{ this.dataValues.email }}</a></td>
                    <td><a href='/details/{{ this.dataValues.id }}'>{{ this.dataValues.state }}</a></td>
                    {{#if @root.admin }}
                    <td>
                        <img class='icon' onclick='showModal({{ this.dataValues.id }},"/delete_person/")' src='/img/trash-alt-solid.svg' alt='Eliminar'>
                    </td>
                    {{/if}}
                </tr>
                {{/ each }}
            </tbody>
        </table> --}}
        <v-card>
            <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
            ></v-text-field>
            <v-data-table
            :headers="headers_list"
            :items="person"
            :search="search"
            >
            <template slot="items" slot-scope="props">
                <td v-on:click='load("/details/" + props.item.id)' class="text-xs-left">\{{ props.item.id }}</td>
                <td v-on:click='load("/details/" + props.item.id)' class="text-xs-left">\{{ props.item.name }}</td>
                <td v-on:click='load("/details/" + props.item.id)' class="text-xs-left">\{{ props.item.address }}</td>
                <td v-on:click='load("/details/" + props.item.id)' class="text-xs-left">\{{ props.item.phone }}</td>
                <td v-on:click='load("/details/" + props.item.id)' class="text-xs-left">\{{ props.item.email }}</td>
                <td v-on:click='load("/details/" + props.item.id)' class="text-xs-left">\{{ props.item.state }}</td>
                <td class="text-xs-left"><i onclick='showModal({{ this.dataValues.id }},"/delete_person/")' class='fas fa-trash' slot="activator"></i></td>
            </template>
            </v-data-table>
        </v-card>
        
        {{else}}
        <p class='rep'>... Nenhuma pessoa encontrada ...</p>
        {{/ if}}
        <img class='add-btn' onclick='loadPage("/logout")' src='/img/sign-out-alt-solid.svg' alt='Logout'>

        {{> delete_modal }}
        {{>footer }}
    </body>
</html>
