{{> head }}
    <body>
        {{> header }}
        {{> navbar }}

        {{# if person }}
        <table id='myTable' class='display tbl'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Estado</th>
                    <th>Nota</th>
                    <th>Classificação</th>
                    {{#if admin }}
                    <th>Ações</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{# each person }}
                <tr>
                    <td><a href='/details/{{ this.id }}'>{{ this.id }}</a></td>
                    <td><a href='/details/{{ this.id }}'>{{ this.name }}</a></td>
                    <td><a href='/details/{{ this.id }}'>{{ this.phone }}</a></td>
                    <td><a href='/details/{{ this.id }}'>{{ this.state }}</a></td>
                    <td><a href='/details/{{ this.id }}'>{{ this.score }}</a></td>
                    <td><a href='/details/{{ this.id }}'>{{ this.scoreText }}</a></td>
                    {{#if @root.admin }}
                    <td>
                        <i class='fas fa-trash modal-trigger' data-target='delModal' user-id='{{ this.id }}' path='/delete_person/'></i>
                    </td>
                    {{/if}}
                </tr>
                {{/ each }}
            </tbody>
        </table>
        {{else}}
        <p class='rep'>... Nenhuma pessoa encontrada ...</p>
        {{/ if}}

        {{> delete_modal }}
        {{>footer}}
    </body>
</html>
