{{> head }}
    <body>
        {{> header }}
        {{> navbar }}
        {{#error}}
        <p class='error'>{{param}}: {{msg}}</p>
        {{/error}}
        <h3 class='hide'>RECIBO:</h3>
        <form class='frm-print edit' method='post' action='/payment/{{person.id}}'>
            <li><b>ID:</b><input disabled value='{{ person.id }}'></li>
            <li><b>Nome:</b><input disabled value='{{ person.name }}'></li>
            <li><b>Total a Pagar:</b><input disabled value='{{ payment.toPay }}$00'></li>
            <li><b>Total Pago:</b><input disabled value='{{ payment.paid }}$00'></li>
            <li><b>Falta Pagar:</b><input disabled value='{{ debt }}$00'></li>
            <div class='hide date-print'>
                <span>Data: {{date}}</span>
            </div>
            <li class='hide-print'><b>Montante:</b><input type='number' name='quantity' required></li>
            <div class='eb hide-print'>
                <input class='btn' type='submit' value='Pagar'>
                <a class='btn' href='/details/{{ person.id }}'>Voltar</a>
            </div>
        </form>
        
        <img class='add-btn hide-print' onclick='loadPage("/logout")' src='/img/sign-out-alt-solid.svg' alt='Logout'>
    </body>
</html>
