{{> head }}
    <body>
        {{> header }}
        {{> navbar }}
        {{#error}}
        <p class='error'>{{param}}: {{msg}}</p>
        {{/error}}
        <h3 class='hide'>RECIBO:</h3>
        <div class='card card-payment'>
            <form class='frm-print edit' method='post' action='/payment/{{person.id}}'>
                <div class='card-content'>
                    <div class='input-field'>
                        <label>ID:</label>
                        <input type='text' disabled value='{{ person.id }}'>
                    </div>
                    <div class='input-field'>
                        <label>Nome:</label>
                        <input type='text' disabled value='{{ person.name }}'>
                    </div>
                    <div class='input-field'>
                        <label>Total a Pagar:</label>
                        <input type='text' disabled value='{{ payment.toPay }}$00'>
                    </div>
                    <div class='input-field'>
                        <label>Total Pago:</label>
                        <input type='text' disabled value='{{ payment.paid }}$00'>
                    </div>
                    <div class='input-field'>
                        <label>Falta Pagar:</label>
                        <input type='text' disabled value='{{ debt }}$00'>
                    </div>
                    <div class='hide date-print'>
                        <span>Data: {{date}}</span>
                    </div>
                    <div class='input-field hide-print'>
                        <label>Montante:</label>
                        <input type='number' name='quantity' required>
                    </div>
                </div>
                <div class='card-action hide-print'>
                    <input class='btn blue' type='submit' value='Pagar'>
                    <a class='btn blue' href='/details/{{ person.id }}'>Voltar</a>
                </div>
            </form>
        </div>
        {{>footer}}
    </body>
</html>
