{{> head }}
    <body>
        {{> header }}
        {{> navbar }}

        {{# if person }}
        <table id='myTable' class='row-border'>
            <thead>
                <tr>
                    <th>Processo</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{# each person }}
                <tr>
                    <td><a href='/inscrever?p={{this.id}}'>{{ this.id }}</a></td>
                    <td><a href='/inscrever?p={{this.id}}'>{{ this.name }}</a></td>
                    <td><a href='/inscrever?p={{this.id}}'>{{ this.address }}</a></td>
                    <td><a href='/inscrever?p={{this.id}}'>{{ this.phone }}</a></td>
                    <td><a href='/inscrever?p={{this.id}}'>{{ this.email }}</a></td>
                    <td>
                        <i user-id='{{this.id}}' path='/delete_pre_inscrito/' data-target='delModal' class='fas fa-trash modal-trigger'></i>
                    </td>
                </tr>
                {{/ each }}
            </tbody>
        </table>
        {{else}}
        <p class='rep'>... Nenhuma pessoa encontrada ...</p>
        {{/ if}}

        {{> delete_modal }}
        {{>footer}}
    </body>
</html>
