{{> head }}
    <body>
        {{> header }}
        {{> navbar }}

        {{# error }}
        <p class='card red card-error'>{{ param }}:{{ msg }}</p>
        {{/ error }}

        <div class='card card-register'>
            <form action="/inscrever" method='post'>
                {{#if form_data.id }}
                <input type="hidden" name='id' value='{{form_data.id}}'>
                {{/if}}
                <div class='input-field'>
                    <label for='name'>Nome</label>
                    <input type='text' name='name' required {{#if form_data }}value="{{form_data.name}}"{{/if}}>
                </div>
                <div class='input-field'>
                    <label for='birthdate'>Data de Nascimento</label>
                    <input type='date' name='birthdate' required {{#if form_data }}value="{{form_data.birthdate}}"{{/if}}>
                </div>
                <div class='input-field'>
                    <label for='address'>Morada</label>
                    <input type='text' name='address' {{#if form_data }}value="{{form_data.address}}"{{/if}}>
                </div>
                <div class='input-field'>
                    <label for='phone'>Telefone</label>
                    <input type='text' name='phone' required {{#if form_data }}value="{{form_data.phone}}"{{/if}}>
                </div>
                <div class='input-field'>
                    <label for='email'>Email</label>
                    <input type='text' name='email' {{#if form_data }}value="{{form_data.email}}"{{/if}}>
                </div>
                <div class='input-field'>
                    <label for='bi'>Número de BI</label>
                    <input type='text' name='bi' required {{#if form_data }}value="{{form_data.bi}}"{{/if}}>
                </div>
                <div class='input-field'>
                    <label for='nif'>NIF</label>
                    <input type='text' name='nif' required {{#if form_data }}value="{{form_data.nif}}"{{/if}}>
                </div>
                <div class='input-field'>
                    {{# select "agente" "0" select_options }}{{/select}}
                    <label>Agente</label>
                </div>
                
                <fieldset>
                    <legend>Género</legend>

                    <label for='male'>
                        <input type='radio' class='with-gap' id='male' name='gender' value='male'>
                        <span>Masculino</span>
                    </label>
                    
                    <label for='female'>
                        <input type='radio' class='with-gap' id='female' name='gender' value='female'>
                        <span>Feminino</span>
                    </label>
                    
                </fieldset>

                <input class='btn blue' type='submit' value='Cadastrar'>
            </form>
        </div>
        

        {{>footer}}
    </body>
</html>
